
<%= form_tag(tickets_path, method: "get") do %>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="form-group">
            <%= label_tag(:event_name, "Search by event's name:") %>
            <%= text_field_tag(:event_name, params[:event_name], class: "form-control") %>
        </div>
        <div class="form-group">
            <%= label_tag(:seat_number, "Search by seat number:") %>
            <%= text_field_tag(:seat_number, params[:seat_number], class: "form-control") %>
        </div>
     
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="form-group">
            <%= label_tag(:client_name, "Client name:") %>
            <%= text_field_tag(:client_name, params[:client_name], class: "form-control") %>
        </div>
        <div class="form-group">
            <%= label_tag(:event_date, "Date:") %>
            <%= date_field_tag(:event_date, params[:event_date], class: "form-control") %>
        </div>
        
    </div>
    <div class="col-md-2">
        <%= submit_tag("Filter", class:"btn btn-primary btn-block", style:"margin-top: 2em") %>
    </div>
</div>
<% end %>
